@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Noto Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Vollkorn", serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Playfair Display", serif; */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/* font-family: "Space Grotesk", sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}
 
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

/* NAVIGATION-BAR CODE BELOW */

nav {
    display: flex;
    width: 99vw;
    background: #7e1036;
    align-items: center;
    gap: 80px;
    top: 0;
    position: sticky;
    z-index: 9999;
}

.logo {
    height: 60px;
    width: 10%;
}

.search-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    gap: 20px;
    padding: 0px 20px 0px 20px;
    background: #c14e76c7;
    color: white;
}

input[type=text] {
    width: 80%;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
}

input[type=text]::placeholder {
    color: white;
}

button[type=submit] {
    font-size: 16px;
    height: 40px;
    width: 50px;
    margin-left: 5px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
    transition: .3s ease;
}

button[type=submit]:active {
    transform: scale(0.85);
}

button[type=submit]:hover {
    color: #7E1037;
}

.demacation {
    height: 40px;
    background: white;
    width: 1px;
    margin-left: 20px;
}

.navigations {
    width: 30%;
    height: 40px;
}

.navigations ul {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 20px;   
    list-style: none;
    font-family: "Vollkorn", serif;
}

.navigations ul li {
    cursor: pointer;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    transition: .3s ease;
}

.nav-active {
    background: #c14e76c7;
}

/*IMAGE BOX CODE*/

.image-box {
    border: 1px solid black;
    width: 1511px;
    height: 100vh;
    overflow: hidden;
}

.image-slider {
    display: flex;
    width: calc(1511px * 6);
}

.slide {
    width: 1511px;
    height: 1000px;
}

.overlay-text {
    position: absolute;
    width: 97%;
    display: flex;
    flex-direction: column;
    padding: 250px 0px 0px 30px;
    color: white;
    z-index: 2;
    font-size: 65px;
    font-family: "Space Grotesk", sans-serif;
}

.the-overlay {
    position: absolute;
    z-index: 1;
    width: 1511px;
    height: 100vh;
    background: #23232397;
}


/*FOOTER CODE BELOW*/

footer {
    background: #7E1037;
    color: white;
    text-align: center;
    padding: 10px;    
    z-index: 9999;
    position: fixed;
    width: 99vw;
    bottom: 0;
}

