@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Noto Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Vollkorn", serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}
/*NAVIGATION-BAR CODE BELOW*/

nav {
    display: flex;
    background: #7E1037;
    align-items: center;
    gap: 80px;
    top: 0;
    position: sticky;
}

.logo {
    height: 60px;
    width: 10%;
}

.search-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    gap: 20px;
    padding: 0px 20px 0px 20px;
    background: #c14e76c7;
    color: white;
}

input[type=text] {
    width: 80%;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
}

input[type=text]::placeholder {
    color: white;
}

button[type=submit] {
    font-size: 16px;
    height: 40px;
    width: 50px;
    margin-left: 5px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
    transition: .3s ease;
}

button[type=submit]:active {
    transform: scale(0.85);
}

button[type=submit]:hover {
    color: #7E1037;
}

.demacation {
    height: 40px;
    background: white;
    width: 1px;
    margin-left: 20px;
}

.navigations {
    width: 30%;
    height: 40px;
}

.navigations ul {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 20px;   
    list-style: none;
    font-family: "Vollkorn", serif;
}

.navigations ul li {
    cursor: pointer;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    transition: .3s ease;
}

.nav-active {
    background: #c14e76c7;
}

/*EXPLORE BAR CODE BELOW*/

.explore-bar {
    background: #7e1036;
    margin: 20px 0px 0px 10px;
    width: 150px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

select {    
    background: transparent;
    outline: none;
    border: none;   
    color: white;
}

option {
    background: #7E1037;
    color: white;
}

option:checked {
    outline: none;
    border: none;
    background: white;
    color: #7E1037;
}


/*IMAGE-BOX CODE BELOW*/

.image-box {
    width: 700px;
    margin: 20px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.overlay {
    width: 700px;
    height: 550px;
    overflow: hidden;
    box-shadow: -2px 2px 5px 1px rgba(128, 128, 128, 0.627);
}

.the-overlay {
    position: absolute;
    z-index: 1;
    height: 550px;
    width: 700px;
    background: #000000b9;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.627);
}

.overlay-text {
    position: absolute;
    color: white;
    z-index: 2;
    width: 700px;
    height: 500px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wardrobe {
    color: white;
}

.wardrobe:visited {
    color: white;
}

.image-slider {
    display: flex;
    transition: transform .4s ease;
    width: calc(700px * 5);
}

.image-slider img {
    width: 700px;
    height: 550px;
}

.arrow-btn {
    font-size: 25px;
    background: transparent;
    color: #7E1037;
    outline: none;
    border: none;
}

.arrow-btn:active {
    transform: scale(0.85);
}


/*FOOTER CODE BELOW*/

footer {
    background: #7E1037;
    color: white;
    text-align: center;
    padding: 20px;    
}


































/* .slider-wrapper {
    width: 300px; Width of one image
    overflow: hidden;
    position: relative;
}
  
.image-slider {
    display: flex;
    width: calc(300px * 5); total width = 5 slides
    animation: slide 10s infinite steps(5); 5 steps, 1 per slide
}
  
.slide {
    width: 300px;
    flex-shrink: 0;
    object-fit: cover;
}
  
@keyframes slide {
    from {
    transform: translateX(0);
    }
    to {
    transform: translateX(-1200px); 4 * 300px = shift to show last image
    }
} */
