@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Lexend Deca", sans-serif;
    background: #FAF9F6;
}

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

header {
    position: sticky;
    top: 0;
    z-index: 50;
}

nav {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav .logo-box {
    width: 80px;
    height: 80%;
    background-image: url(../images/pink-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

nav .search-bar {
    width: 60%;
    height: 60%;
    padding: 5px;
    border-radius: 10px;
    background: #7e1036;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

nav .search-bar input {
    background: transparent;
    width: 80%;
    height: 100%;
    font-size: 12px;
    border: none;
    color: white;
}

nav .search-bar input:focus {
    outline: none;
}

nav .search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.808);
}

nav .search-bar .bi-search-heart {
    font-size: 16px;
    color: white;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
}

nav .search-bar .bi-search-heart:active {
    transform: scale(.90);
}

nav .navigations {
    display: none;
}

nav .navigations-sm {
    width: 10%;
    height: 60%;
    color: #7e1036;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav .burger:active {
    transform: scale(.90);
}

nav .navigations-sm .navs-sm {
    display: none;
    position: absolute;
    top: 40px;
    left: -92px;
    flex-direction: column;
    height: 90px;
    background: white;
    border-radius: 0px 0px 0 10px;
    width: 135px;
    font-size: 14px;
    align-items: center;
    justify-content: space-around;
    border-left: 2px solid #7e1036;
    border-bottom: 2px solid #7e1036;
}

.navs-sm.show {
    display: block !important;
}

nav .navigations-sm .navs-sm .bi-filled {
    background: #7e1036;
    color: white;
}

nav .navigations-sm .navs-sm p {
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 5px;
    justify-content: center;
}

nav .navigations-sm .navs-sm a {
    color: #7e1036;
    text-decoration: none;
}

























/* FOOTER CODE*/

footer {
    background: #7e1036;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 15px;
}

.contact .bi {
    cursor: pointer;
}




























@media (min-width: 768px) {

    nav {
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 50;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    nav .logo-box {
        width: 110px;
        height: 80%;
        background-image: url(../images/pink-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;   
    }

    nav .search-bar {
        width: 60%;
        height: 60%;
        padding: 5px;
        border-radius: 10px;
        background: #7e1036;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
    }

    nav .search-bar input {
        background: transparent;
        width: 80%;
        height: 100%;
        font-size: 16px;
        border: none;
        color: white;
    }

    nav .search-bar input:focus {
        outline: none;
    }

    nav .search-bar input::placeholder {
        color: rgba(255, 255, 255, 0.808);
    }

    nav .search-bar .bi-search-heart {
        font-size: 20px;
        color: white;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;
    }

    nav .search-bar .bi-search-heart:active {
        transform: scale(.90);
    }

    nav .navigations {
        display: none;
    }

    nav .navigations-sm {
        width: 10%;
        height: 60%;
        color: #7e1036;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    nav .navigations-sm:active {
        transform: scale(.90);
    }

    nav .navigations-sm .navs-sm {
        display: none;
        position: absolute;
        top: 46px;
        left: -80px;
        flex-direction: column;
        height: 90px;
        background: white;
        border-radius: 0px 0px 0 10px;
        width: 140px;
        font-size: 16px;
        align-items: center;
        justify-content: space-around;
        border-left: 2px solid #7e1036;
        border-bottom: 2px solid #7e1036;
    }

    .navs-sm.show {
        display: block !important;
    }

    nav .navigations-sm .navs-sm .bi-filled {
        background: #7e1036;
        color: white;
    }

    nav .navigations-sm .navs-sm p {
        display: flex;
        gap: 5px;
        width: 100%;
        padding: 5px;
        justify-content: center;
    }
}












@media (min-width: 1024px) {
 
    nav {
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 50;
        padding: 0 10px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    nav .logo-box {
        width: 145px;
        height: 80%;
        background-image: url(../images/pink-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;   
    }

    nav .search-bar {
        width: 60%;
        height: 60%;
        padding: 5px;
        padding: 0 10px;
        border-radius: 10px;
        background: #7e1036;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
    }

    nav .search-bar input {
        background: transparent;
        width: 80%;
        height: 100%;
        font-size: 14px;
        border: none;
        color: white;
    }

    nav .search-bar input:focus {
        outline: none;
    }

    nav .search-bar input::placeholder {
        color: rgba(255, 255, 255, 0.808);
    }

    nav .search-bar .bi-search-heart {
        font-size: 20px;
        color: white;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100%;
        cursor: pointer;
    }

    nav .search-bar .bi-search-heart:active {
        transform: scale(.90);
    }

    nav .navigations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        height: 80%;
    }

    nav .navigations button {
        height: 40px;
        width: 50px;
        background: white;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        color: #7e1036;
        border: none;
        cursor: pointer;
        position: relative;
    } 

    nav .navigations button p {
        position: absolute;
        top: 2px; 
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        height: 100%;
        width: 100%;
    }

    nav .navigations .bi-filled {
        background: #7e1036ee;
        color: white;
    }

    nav .navigations-sm {
        display: none;
    }
}

/* * {
    margin: 0;
}

body {
    height: 100%;
    font-family: "Lexend Deca", sans-serif;
    background: #F2F3F4;
    font-family: "Lexend Deca", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    top: 0;
    position: sticky;
    z-index: 9999;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav select {
    background: #7e1036ee;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

nav img {
    height: 70px;
    width: 150px;
}

.search-bar {
    display: flex;
    background: #7e1036ee;
    color: white;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.search-bar input {
    width: 90%;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
}

.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.808);
}

.search-bar p {
    cursor: pointer;
}

.search-bar p:active {
    transform: scale(0.85);
}

.move {
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.move .bi {
    cursor: pointer;
    font-size: 22px;
    color: #7e1036ee;
    padding: 5px;
    width: 50px;
    border: none;
    background: transparent;
    text-align: center;
    border-radius: 5px;
}


.cart-count p {
    position: absolute;
    width: 30px;
    height: 25px;
    text-align: center;
    top: 30px;
    font-size: 12.5px;
    left: 1390.5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.move .bi-filled {
    background: #7e1036ee;
    color: white;
}

.cart-info {
    margin: 70px 50px 0px 50px;
    display: flex;
    gap: 20px;
}

.the-cart {
    width: 60%;
}

.the-cart-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.the-cart-text span {
    font-weight: 600;
}

.the-cart-items {
    margin-top: 30px;
    width: 100%;
    position: relative;
}

.header {
    background: white;
    padding: 20px;
    display: flex;
    gap: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    font-weight: 600;
    color: #7e1036ee;
}

.header p {
    width: 50%;
}

.cart-item {
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px #696969;
    margin-bottom: 20px;
}

.cart-items-display {
    display: flex;  
    gap: 40px;
}

.cart-item .product {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-item .bi-x-lg {
    position: absolute;
    right: 0;
    font-size: 20px;
    margin-right: 10px;
    color: #7e1036ee;
    cursor: pointer;
}

.cart-item .bi-x-lg:active {
    transform: scale(0.85);
}

.product-info p {
    font-size: 13px;
    color: #696969;
    margin-bottom: 2px;
}

.product-info h3 {
    margin-bottom: 20px;
    overflow: hidden;
}

.others {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item .product img {
    height: 170px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.others p {
    width: 20%;
    text-align: center;
    font-weight: 600;
}






.the-receipt {
    width: 40%;
    height: 50%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.user-location {
    margin-top: 20px;
}

.the-location {
    padding: 10px;
}

.the-location select {
    height: 40px;
    width: 100%;
    padding: 10px;
    background: #69696949;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.the-location input {
    height: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-bottom: 20px
}

.the-location button {
    background: #000000;
    color: white;
    border-radius: 10px;
    align-self: center;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.the-location button:active {
    transform: scale(0.95);
}

.demarcation {
    border: 1px solid rgba(0, 0, 0, 0.503);
    margin-top: 30px;
}

.the-total {
    margin-top: 20px;
    padding: 10px;
    background: #c14e7683;
    border-radius: 10px;
}

.the-total .total-price {
    font-weight: 600;
}

.checkout-product {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.checkout-btn {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #7e1036ee;
    color: white;
    cursor: pointer;
}

.checkout-btn:active {
    transform: scale(0.95);
} */