@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Lexend Deca", sans-serif;
    background: #FAF9F6;
}

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

header {
    position: sticky;
    top: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav .logo-box {
    width: 80px;
    height: 80%;
    background-image: url(../images/pink-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

nav .search-bar {
    width: 60%;
    height: 60%;
    padding: 5px;
    border-radius: 10px;
    background: #7e1036;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

nav .search-bar input {
    background: transparent;
    width: 80%;
    height: 100%;
    font-size: 12px;
    border: none;
    color: white;
}

nav .search-bar input:focus {
    outline: none;
}

nav .search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.808);
}

nav .search-bar .bi-search-heart {
    font-size: 16px;
    color: white;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
}

nav .search-bar .bi-search-heart:active {
    transform: scale(.90);
}

nav .navigations {
    display: none;
}

nav .navigations-sm {
    width: 10%;
    height: 60%;
    color: #7e1036;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav .burger:active {
    transform: scale(.90);
}

nav .navigations-sm .navs-sm {
    display: none;
    position: absolute;
    top: 40px;
    left: -92px;
    flex-direction: column;
    height: 90px;
    background: white;
    border-radius: 0px 0px 0 10px;
    width: 135px;
    font-size: 14px;
    align-items: center;
    justify-content: space-around;
    border-left: 2px solid #7e1036;
    border-bottom: 2px solid #7e1036;
}

.navs-sm.show {
    display: block !important;
}

nav .navigations-sm .navs-sm .bi-filled {
    background: #7e1036;
    color: white;
}

nav .navigations-sm .navs-sm p {
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 5px;
    justify-content: center;
}

nav .navigations-sm .navs-sm a {
    color: #7e1036;
    text-decoration: none;
}





main {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.the-cart {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.the-cart .the-cart-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.the-cart .the-cart-text h2 {
    font-size: 16px;
}

.the-cart .the-cart-text p {
    font-size: 12px;
}

.the-cart .the-cart-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
}

.the-cart .cart-product {
    border-radius: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.the-cart .cart-product .bi {
    color: #7e1036;
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
}

.the-cart .cart-product .cart-product-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.the-cart .cart-product .cart-product-info img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.the-cart .cart-product .cart-product-info .cart-product-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

.the-cart .cart-product .cart-product-info .cart-product-details span {
    color: grey;
}

.the-cart .cart-product .cart-product-info .cart-product-details .price {
    color: #7e1036;
}




.the-receipt {
    padding: 15px;
}

.the-receipt .receipt-body {
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.the-receipt .receipt-body .location {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.the-receipt .receipt-body .location h2{
    font-size: 16px;
}

.the-receipt .receipt-body .location p{
    font-size: 12px;
}

.the-receipt .receipt-body .location .location-deets{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.the-receipt .receipt-body .location .location-deets .loc-det{
    background: #CCCCCC;
    height: 45px;
    border: none;
    border-radius: 10px;
}

.the-receipt .receipt-body .location .location-deets .loc-det:focus{
    outline: none;
}

.the-receipt .receipt-body .location input {
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #CCCCCC; 
    width: 50%;
}

.the-receipt .receipt-body .location input:focus {
    outline: none;
}

.the-receipt .receipt-body .location button {
    height: 45px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background: #242424;
    color: white; 
}

.the-receipt .receipt-body .location::after {
    content: '';
    border: 2px solid #CCCCCC;
    margin-top: 10px;
}

.the-receipt .receipt-body .receipt {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    background: #F8BBD0;
    border-radius: 10px;
}

.the-receipt .receipt-body .receipt h2{
    font-size: 16px;
}

.the-receipt .receipt-body .receipt p{
    font-size: 14px;
}

.the-receipt .receipt-body .receipt .price-breakdown::before{
    content: '';
    border: 1px solid #666666;
    margin-top: 10px;
}

.the-receipt .receipt-body .receipt .price-breakdown{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.the-receipt .receipt-body .receipt .price-breakdown .price-b{
    display: flex;
    justify-content: space-between;
}


.the-receipt .receipt-body .receipt .price-breakdown .price-total{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.the-receipt .receipt-body button {
    height: 35px;
    border-radius: 10px;
    border: none;
    background: #c14e76;
    color: white;
    font-weight: bold;
}




/* FOOTER CODE*/

footer {
    background: #7e1036;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 15px;
}

.contact .bi {
    cursor: pointer;
}


/*ALERT*/

.alert-cont {
    position: fixed;
    margin-top: 80px;
    align-self: flex-end;
    z-index: 80;
    width: 45%;
    border: 4px solid #7e1036;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    transition: .5s ease-in-out;
    font-size: 12px;
    transform: translateX(700px);
}

.alert-cont p {
    text-align: center;
}

.alert-cont .bi {
    width: 15px;
    cursor: pointer;
    align-self: end;
    font-weight: 900;
    color: #7e1036;
    text-align: end;
}

.alert .bi:active {
    transform: scale(0.90);
}

.out {
    transform: translateX(0);
}



























@media (min-width: 768px) {

    nav {
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 50;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    nav .logo-box {
        width: 110px;
        height: 80%;
        background-image: url(../images/pink-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;   
    }

    nav .search-bar {
        width: 60%;
        height: 60%;
        padding: 5px;
        border-radius: 10px;
        background: #7e1036;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
    }

    nav .search-bar input {
        background: transparent;
        width: 80%;
        height: 100%;
        font-size: 16px;
        border: none;
        color: white;
    }

    nav .search-bar input:focus {
        outline: none;
    }

    nav .search-bar input::placeholder {
        color: rgba(255, 255, 255, 0.808);
    }

    nav .search-bar .bi-search-heart {
        font-size: 20px;
        color: white;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;
    }

    nav .search-bar .bi-search-heart:active {
        transform: scale(.90);
    }

    nav .navigations {
        display: none;
    }

    nav .navigations-sm {
        width: 10%;
        height: 60%;
        color: #7e1036;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    nav .navigations-sm:active {
        transform: scale(.90);
    }

    nav .navigations-sm .navs-sm {
        display: none;
        position: absolute;
        top: 46px;
        left: -80px;
        flex-direction: column;
        height: 90px;
        background: white;
        border-radius: 0px 0px 0 10px;
        width: 140px;
        font-size: 16px;
        align-items: center;
        justify-content: space-around;
        border-left: 2px solid #7e1036;
        border-bottom: 2px solid #7e1036;
    }

    .navs-sm.show {
        display: block !important;
    }

    nav .navigations-sm .navs-sm .bi-filled {
        background: #7e1036;
        color: white;
    }

    nav .navigations-sm .navs-sm p {
        display: flex;
        gap: 5px;
        width: 100%;
        padding: 5px;
        justify-content: center;
    }

    .alert-cont {
        position: fixed;
        margin-top: 80px;
        align-self: flex-end;
        z-index: 80;
        width: 30%;
        border: 4px solid #7e1036;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background: white;
        transition: .5s ease-in-out;
        font-size: 14px;
        transform: translateX(700px);
    }

    .alert-cont p {
        text-align: center;
    }

    .alert-cont .bi {
        width: 15px;
        cursor: pointer;
        align-self: end;
        font-weight: 900;
        color: #7e1036;
        text-align: end;
    }

    .alert .bi:active {
        transform: scale(0.90);
    }

    .out {
        transform: translateX(0);
    }
}












@media (min-width: 1024px) {
 
    nav {
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 50;
        padding: 0 10px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    nav .logo-box {
        width: 145px;
        height: 80%;
        background-image: url(../images/pink-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;   
    }

    nav .search-bar {
        width: 60%;
        height: 60%;
        padding: 5px;
        padding: 0 10px;
        border-radius: 10px;
        background: #7e1036;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
    }

    nav .search-bar input {
        background: transparent;
        width: 80%;
        height: 100%;
        font-size: 14px;
        border: none;
        color: white;
    }

    nav .search-bar input:focus {
        outline: none;
    }

    nav .search-bar input::placeholder {
        color: rgba(255, 255, 255, 0.808);
    }

    nav .search-bar .bi-search-heart {
        font-size: 20px;
        color: white;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100%;
        cursor: pointer;
    }

    nav .search-bar .bi-search-heart:active {
        transform: scale(.90);
    }

    nav .navigations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        height: 80%;
    }

    nav .navigations button {
        height: 40px;
        width: 50px;
        background: white;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        color: #7e1036;
        border: none;
        cursor: pointer;
        position: relative;
    } 

    nav .navigations button p {
        position: absolute;
        top: 2px; 
        left: 0; 
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        height: 100%;
        width: 100%;
    }

    nav .navigations .bi-filled {
        background: #7e1036ee;
        color: white;
    }

    nav .navigations-sm {
        display: none;
    }

    .alert-cont {
        position: fixed;
        margin-top: 80px;
        align-self: flex-end;
        z-index: 80;
        width: 20%;
        border: 4px solid #7e1036;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background: white;
        transition: .5s ease-in-out;
        font-size: 14px;
        transform: translateX(700px);
    }

    .alert-cont p {
        text-align: center;
    }

    .alert-cont .bi {
        width: 15px;
        cursor: pointer;
        align-self: end;
        font-weight: 900;
        color: #7e1036;
        text-align: end;
    }

    .alert .bi:active {
        transform: scale(0.90);
    }

    .out {
        transform: translateX(0);
    }








    main {
        margin: 30px;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .checkout-body {
        width: 50%;
    }

    .the-cart {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .the-cart .the-cart-text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .the-cart .the-cart-text h2 {
        font-size: 20px;
    }

    .the-cart .the-cart-text p {
        font-size: 14px;
    }

    .the-cart .the-cart-products {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .the-cart .cart-product {
        border-radius: 10px;
        padding: 10px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
    }

    .the-cart .cart-product .bi {
        color: #7e1036;
        font-weight: bold;
        align-self: flex-end;
        cursor: pointer;
    }

    .the-cart .cart-product .cart-product-info {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .the-cart .cart-product .cart-product-info img {
        width: 120px;
        border-radius: 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }

    .the-cart .cart-product .cart-product-info .cart-product-details {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 14px;
    }

    .the-cart .cart-product .cart-product-info .cart-product-details span {
        color: grey;
    }

    .the-cart .cart-product .cart-product-info .cart-product-details .price {
        color: #7e1036;
    }




    .the-receipt {
        padding: 15px;
    }

    .the-receipt .receipt-body {
        background: white;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .the-receipt .receipt-body .location {
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
    }

    .the-receipt .receipt-body .location h2{
        font-size: 20px;
    }

    .the-receipt .receipt-body .location p{
        font-size: 14px;
    }

    .the-receipt .receipt-body .location .location-deets{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .the-receipt .receipt-body .location .location-deets .loc-det{
        background: #CCCCCC;
        height: 45px;
        border: none;
        border-radius: 10px;
    }

    .the-receipt .receipt-body .location .location-deets .loc-det:focus{
        outline: none;
    }

    .the-receipt .receipt-body .location input {
        height: 30px;
        padding: 5px;
        border-radius: 10px;
        border: 2px solid #CCCCCC; 
        width: 50%;
    }

    .the-receipt .receipt-body .location input:focus {
        outline: none;
    }

    .the-receipt .receipt-body .location button {
        height: 45px;
        font-weight: bold;
        padding: 5px;
        border-radius: 10px;
        border: none;
        background: #242424;
        color: white; 
    }

    .the-receipt .receipt-body .location::after {
        content: '';
        border: 2px solid #CCCCCC;
        margin-top: 10px;
    }

    .the-receipt .receipt-body .receipt {
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        background: #F8BBD0;
        border-radius: 10px;
    }

    .the-receipt .receipt-body .receipt h2{
        font-size: 16px;
    }

    .the-receipt .receipt-body .receipt p{
        font-size: 14px;
    }

    .the-receipt .receipt-body .receipt .price-breakdown::before{
        content: '';
        border: 1px solid #666666;
        margin-top: 10px;
    }

    .the-receipt .receipt-body .receipt .price-breakdown{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .the-receipt .receipt-body .receipt .price-breakdown .price-b{
        display: flex;
        justify-content: space-between;
    }


    .the-receipt .receipt-body .receipt .price-breakdown .price-total{
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

    .the-receipt .receipt-body button {
        height: 35px;
        border-radius: 10px;
        border: none;
        background: #c14e76;
        color: white;
        font-weight: bold;
    }
}




























/* .cart-info {
    margin: 70px 50px 0px 50px;
    display: flex;
    gap: 20px;
}

.the-cart {
    width: 60%;
}

.the-cart-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.the-cart-text span {
    font-weight: 600;
}

.the-cart-items {
    margin-top: 30px;
    width: 100%;
    position: relative;
}

.header {
    background: white;
    padding: 20px;
    display: flex;
    gap: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    font-weight: 600;
    color: #7e1036ee;
}

.header p {
    width: 50%;
}

.cart-item {
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px #696969;
    margin-bottom: 20px;
}

.cart-items-display {
    display: flex;  
    gap: 40px;
}

.cart-item .product {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-item .bi-x-lg {
    position: absolute;
    right: 0;
    font-size: 20px;
    margin-right: 10px;
    color: #7e1036ee;
    cursor: pointer;
}

.cart-item .bi-x-lg:active {
    transform: scale(0.85);
}

.product-info p {
    font-size: 13px;
    color: #696969;
    margin-bottom: 2px;
}

.product-info h3 {
    margin-bottom: 20px;
    overflow: hidden;
}

.others {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item .product img {
    height: 170px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.others p {
    width: 20%;
    text-align: center;
    font-weight: 600;
}






.the-receipt {
    width: 40%;
    height: 50%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.user-location {
    margin-top: 20px;
}

.the-location {
    padding: 10px;
}

.the-location select {
    height: 40px;
    width: 100%;
    padding: 10px;
    background: #69696949;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.the-location input {
    height: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-bottom: 20px
}

.the-location button {
    background: #000000;
    color: white;
    border-radius: 10px;
    align-self: center;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.the-location button:active {
    transform: scale(0.95);
}

.demarcation {
    border: 1px solid rgba(0, 0, 0, 0.503);
    margin-top: 30px;
}

.the-total {
    margin-top: 20px;
    padding: 10px;
    background: #c14e7683;
    border-radius: 10px;
}

.the-total .total-price {
    font-weight: 600;
}

.checkout-product {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.checkout-btn {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #7e1036ee;
    color: white;
    cursor: pointer;
}

.checkout-btn:active {
    transform: scale(0.95);
} */