@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */

/* :root {
    color-scheme: light dark;
} */

/* @media (prefers-color-scheme: dark) {
    nav .logo-box {
        background-image: url("../images/white-logo.png");
    }
} */

* {
    margin: 0;
}

body {
    height: 100%;
    font-family: "Lexend Deca", sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    /* background: light-dark(#FAF9F6, #171717); */
    cursor: default;
    display: flex;
    flex-direction: column;
}

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

header {
    position: sticky;
    top: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    background: var(--navbg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

nav .logo-box {
    width: 100px;
    height: 80%;
    background-image: var(--logo-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav .navigations {
    display: none;
}

nav .user-decision {
    display: none;
}

nav .small-screen-nav {
    display: block;
    position: relative;
    color: var(--base-accent);
    /* color: light-dark(#c14e76, white); */
    font-weight: 700;
}

nav .small-screen-nav .burger {
    font-size: 20px;
}


.navs-sm {
    display: none;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    z-index: 50;
    width: 60%;
    height: 100%;
    justify-self: end;
    padding: 20px;
    background: var(--base-accent);
    color: white;
    backdrop-filter: blur(2px);
    border-radius: 10px 0 0 10px;
    transition: .3s ease-in-out;
}

.navs-sm .bi-x-lg {
    align-self: flex-end;
    color: white;
}

.navs-sm .navs-sm-moves {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
}

.navs-sm .navs-sm-moves span {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.navs-sm .navs-sm-moves a {
    color: white;
    text-decoration: none;
}

.navs-sm.show {
    display: flex;
}



footer {
    background: var(--base-accent);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 15px;
}

.contact .bi {
    cursor: pointer;
}

/*ALERT*/


.alert-cont {
    position: fixed;
    margin-top: 80px;
    align-self: flex-end;
    z-index: 80;
    width: 45%;
    border: 4px solid var(--base-accent);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: var(--navbg-color);
    transition: .5s ease-in-out;
    font-size: 12px;
    transform: translateX(700px);
}

.alert-cont p {
    text-align: center;
}

.alert-cont .bi {
    width: 15px;
    cursor: pointer;
    align-self: end;
    font-weight: 900;
    color: var(--base-accent);
    text-align: end;
}

.alert .bi:active {
    transform: scale(0.90);
}

.out {
    transform: translateX(0);
}

.small-nav-cont.show {
    display: block !important;
}


/*SECTION 1 CODE BELOW*/

.intro-landing {
    height: 100vh;
    padding: 10px;
    justify-content: space-around;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-landing .intro-box {
    padding: 10px;
    width: 100%;
}

.intro-landing .intro-box-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.intro-landing .intro-box-one h1 {
    font-size: 20px;
    text-align: center;
}

.intro-landing .intro-box-one p {
    font-size: 12px;
    text-align: center;
}

.intro-landing .intro-box-one .intro-decision {
    display: flex;
    gap: 30px;
}

.intro-landing .intro-box-one .intro-decision button {
    display: flex;
    height: 40px;
    width: 150px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    transition: .3s ease;
    cursor: pointer;
    border: 2px solid var(--base-accent);
    /* border: 2px solid light-dark(#7e1036, white); */
    box-shadow: 0 0 2px grey;
}

.intro-landing .intro-box-one .intro-decision .button-one {
    background: var(--base-accent);
    /* background: light-dark(#7e1036, white); */
    color: white;
    /* color: light-dark(white, #7e1036); */
}

.intro-landing .intro-box-one .intro-decision .button-two {
    background: transparent;
    color: var(--base-accent);
    /* color: light-dark(#7e1036, white); */
}

.intro-landing .intro-box-one .intro-decision button:active {
    scale: 0.90;
}

.intro-landing .intro-box-two {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-landing .intro-box-two .design-circle {
    position: absolute;
    height: 300px;
    width: 80%;
    border-radius: 100%;
    background: linear-gradient(to bottom, #7e1036, #c14e76);
    -webkit-background-composite: linear-gradient(to bottom, #7e1036, #c14e76);
}

.intro-landing .intro-box-two img {
    height: 300px;
    width: 200px;
    z-index: 20;
}

.intro-landing .intro-box-two .design-writeup {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.intro-landing .intro-box-two .design-writeup div {
    display: flex;
    width: 75%;
    align-items: center;
}

.intro-landing .intro-box-two .design-writeup div p {
    width: 80px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    font-weight: 600;
    color: #7e1036;
    transition: .3s ease-in-out;
}

.intro-landing .intro-box-two .design-writeup div p:hover {
    transform: translateY(-10px);
} 

.intro-landing .intro-box-two .design-writeup .off {
    justify-content: end;
}

.features-landing {
    padding: 10px;
    justify-content: space-around;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.features-landing h2 {
    font-size: 20px;
}

.features-landing .landing-search {
    border: 2px solid var(--base-accent);
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--navbg-color);
    color: var(--base-accent);
}

.features-landing .landing-search input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
}

.features-landing .landing-search input:focus {
    outline: none;
}
.features-landing .landing-search .bi-search-heart {
    font-size: 20px;
}

.features-landing .features-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.features-landing .features-cont .features-div {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-landing .features-cont .features-div-one .aesthetics-grid {
    height: 80%;
    width: 100%;
    border-radius: 10px;
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.features-landing .features-cont .features-div-one .aesthetics-grid span {
    display: flex;
    align-items: end;
    justify-content: center;
}

.features-landing .features-cont .features-div-one .aesthetics-grid img{
    height: 150px;
}

.features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(1) {
    border-radius: 50px 0 0 0;
    background: #8B43FF;
}

.features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(1):hover {
    filter: grayscale(0);
}

.features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(2) {
    border-radius: 0 10px 0 0;
    background: #FFD500;
    cursor: pointer;
}

.features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(2):hover {
    filter: grayscale(0);
}   

.features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(3) {
    border-radius: 0 0 0 10px;
    background: #477023;
}

.features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(3):hover { 
    filter: grayscale(0);
}

.features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(4) {
    border-radius: 0 0 50px 0;
    background: #E91E63;
}

.features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(4):hover {
    filter: grayscale(0);
}

.features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(5) {
    background: none;
    position: absolute;
    display: flex;
    align-items: center;
    height: 15%;
}

.features-landing .features-cont .features-div-two {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.features-landing .features-cont .features-div-two h3 {
    text-align: center;
}

.features-landing .features-cont .features-div-two .features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features-landing .features-cont .features-div-two .features .feature-dets {
    display: flex;
    gap: 10px;
    border: 2px solid var(--base-accent);
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
    align-items: center;
}

.features-landing .features-cont .features-div-two .features .feature-dets .label-bi {
    font-size: 20px;
}

.features-landing .features-cont .features-div-two .features .feature-dets .feature-words .feature-title {
    font-weight: 600;
    color: var(--base-accent);
}

.userexp-landing {
    padding: 10px;
    justify-content: space-around;
    margin: 80px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userexp-landing h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.userexp-landing .buysell-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.userexp-landing .buysell-cont .buyer-seller {
    width: 80%;
    border-radius: 10px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.userexp-landing .buysell-cont .buy {
    background:  linear-gradient(to top, #F48FB1, #E91E63);
}

.userexp-landing .buysell-cont .sell {
    background:  linear-gradient(to top, #9560D2, #7528CC);
}

.userexp-landing .buysell-cont .buyer-seller img {
    height: 300px;
}

.userexp-landing .buysell-cont .buyer-seller .entails {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    gap: 10px;
}

.userexp-landing .buysell-cont .buyer-seller .entails .entails-words {
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.userexp-landing .buysell-cont .buyer-seller .entails .entails-words div {
    width: 150px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    font-weight: 600;
    color: #7e1036;
    transition: .3s ease-in-out;
}
    

.userexp-landing .buysell-cont .buyer-seller .entails .entails-words div:hover {
    transform: translateY(-10px);
}  


.userexp-landing .buysell-cont .buyer-seller .entails .entails-words .end {
    align-self: flex-end;
}

.testimonial-sect {
    min-width: 375px;
    margin: 20px 0;
    display: flex; 
    overflow-x: auto;
    padding: 10px;
    background: var(--base-accent);
    align-items: center;
    font-size: 14px;
}

.testimonial-sect::-webkit-scrollbar {
    display: none;
}

.testimonial-sect .testimonial-cont {
    display: flex;
    gap: 10px;
    padding-right: 10px;
    animation: spin 30s infinite linear;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.testimonial-sect:hover .testimonial-cont {
    animation-play-state: paused!important;
}

.testimonial-sect .testimonial-cont .testimonial-block {
    border: 2px solid var(--base-accent);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: white;
    color: #7e1036;
    border-radius: 10px;
}




@media (min-width: 768px) {

    .alert-cont {
        position: fixed;
        margin-top: 80px;
        align-self: flex-end;
        z-index: 80;
        width: 30%;
        border: 4px solid var(--base-accent);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background: var(--navbg-color);
        transition: .5s ease-in-out;
        font-size: 14px;
        transform: translateX(700px);
    }

    .alert-cont p {
        text-align: center;
    }

    .alert-cont .bi {
        width: 15px;
        cursor: pointer;
        align-self: end;
        font-weight: 900;
        color: var(--base-accent);
        text-align: end;
    }

    .alert .bi:active {
        transform: scale(0.90);
    }

    .out {
        transform: translateX(0);
    }


    /*SECTION 1 CODE BELOW*/

    .intro-landing {
        height: 60vh;
        padding: 10px;
        justify-content: space-around;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .intro-landing .intro-box {
        padding: 10px;
        width: 100%;
        height: 50%;
        margin: 10px 10px 0 10px;
    }

    .intro-landing .intro-box-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        justify-content: space-around;
        width: 80%;
    }


    .intro-landing .intro-box-one h1 {
        font-size: 30px;
        text-align: center;
    }

    .intro-landing .intro-box-one p {
        font-size: 12px;
        text-align: center;
    }

    .intro-landing .intro-box-one .intro-decision {
        display: flex;
        gap: 30px;
    }

    .intro-landing .intro-box-one .intro-decision button {
        display: flex;
        height: 40px;
        width: 150px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        transition: .3s ease;
        cursor: pointer;
        border: 2px solid var(--base-accent);
        /* border: 2px solid light-dark(#7e1036, white); */
        box-shadow: 0 0 2px grey;
    }

    .intro-landing .intro-box-one .intro-decision .button-one {
        background: var(--base-accent);
        /* background: light-dark(#7e1036, white); */
        color: white;
        /* color: light-dark(white, #7e1036); */
    }

    .intro-landing .intro-box-one .intro-decision .button-two {
        background: transparent;
        color: var(--base-accent);
        /* color: light-dark(#7e1036, white); */
    }

    .intro-landing .intro-box-one .intro-decision button:active {
        scale: 0.90;
    }

    .intro-landing .intro-box-two {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    .intro-landing .intro-box-two .design-circle {
        position: absolute;
        height: 300px;
        width: 50%;
        border-radius: 100%;
        background: linear-gradient(to bottom, #7e1036, #c14e76);
        -webkit-background-composite: linear-gradient(to bottom, #7e1036, #c14e76);
    }

    .intro-landing .intro-box-two img {
        height: 450px;
        width: 250px;
        z-index: 20;
    }

    .intro-landing .intro-box-two .design-writeup {
        position: absolute;
        z-index: 30;
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .intro-landing .intro-box-two .design-writeup div {
        display: flex;
        width: 75%;
        align-items: center;
    }

    .intro-landing .intro-box-two .design-writeup div p {
        width: 80px;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.596);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(10px);
        font-weight: 600;
        color: #7e1036;
        transition: .3s ease-in-out;
    }

    .intro-landing .intro-box-two .design-writeup div p:hover {
        transform: translateY(-10px);
    } 

    .intro-landing .intro-box-two .design-writeup .off {
        justify-content: end;
    }
    
    .userexp-landing {
        padding: 10px;
        justify-content: space-around;
        margin: 30px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userexp-landing h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .userexp-landing .buysell-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .userexp-landing .buysell-cont .buyer-seller {
        width: 80%;
        border-radius: 10px;
        height: 400px;
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .userexp-landing .buysell-cont .buy {
        background:  linear-gradient(to top, #F48FB1, #E91E63);
    }

    .userexp-landing .buysell-cont .sell {
        background:  linear-gradient(to top, #9560D2, #7528CC);
    }

    .userexp-landing .buysell-cont .buyer-seller img {
        height: 300px;
    }

    .userexp-landing .buysell-cont .buyer-seller .entails {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        color: white;
        gap: 10px;
    }

    .userexp-landing .buysell-cont .buyer-seller .entails .entails-words {
        width: 90%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
    }

    .userexp-landing .buysell-cont .buyer-seller .entails .entails-words div {
        width: 150px;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.596);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(10px);
        font-weight: 600;
        color: #7e1036;
        transition: .3s ease-in-out;
    }
        

    .userexp-landing .buysell-cont .buyer-seller .entails .entails-words div:hover {
        transform: translateY(-10px);
    }  


    .userexp-landing .buysell-cont .buyer-seller .entails .entails-words .end {
        align-self: flex-end;
    }

}


@media (min-width: 1024px) {

    nav .logo-box {
        width: 150px;
        height: 80%;
        background-image: var(--logo-img);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


    nav .navigations-link {
        border: 5px solid transparent;
        text-decoration: none;
        transition: .3s ease;
        color: var(--secondarytext-color);
        
        /* color: light-dark(#c14e76, white); */
        height: 40px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .navigations-link:hover {
        color: #7e1036;
        /* color: light-dark(#7e1036, #c14e76); */
    }

    nav img {
        height: 70px;
        width: 150px;
    }

    nav .navigations {
        display: flex;
        gap: 70px;
    }

    nav .user-decision {
        display: flex;
        gap: 20px;
    }

    nav .user-decision button {
        display: flex;
        height: 40px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 16px;
        border-radius: 10px;
        border: none;
        transition: .3s ease;
        cursor: pointer;
        border: var(--base-accent);
        /* border: 2px solid light-dark(#7e1036, white); */
    }

    nav .user-decision .button-one {
        background: var(--base-accent);
        /* background: light-dark(#7e1036, white); */
        color: white;
        /* color: light-dark(white, #7e1036); */
    }

    nav .user-decision .button-two {
        background: transparent;
        color: var(--base-accent);
        border: 2px solid var(--base-accent);
        /* color: light-dark(#7e1036, white); */
    }

    nav .user-decision button:active {
        scale: 0.90;
    }

    nav .small-screen-nav {
        display: none;
    }

    .alert-cont {
        position: fixed;
        margin-top: 80px;
        align-self: flex-end;
        z-index: 80;
        width: 30%;
        border: 4px solid var(--base-accent);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background: var(--navbg-color);
        transition: .5s ease-in-out;
        font-size: 14px;
        transform: translateX(700px);
    }

    .alert-cont p {
        text-align: center;
    }

    .alert-cont .bi {
        width: 15px;
        cursor: pointer;
        align-self: end;
        font-weight: 900;
        color: var(--base-accent);
        text-align: end;
    }

    .alert .bi:active {
        transform: scale(0.90);
    }

    .out {
        transform: translateX(0);
    }

    .intro-landing {
        height: 85vh;
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .intro-landing .intro-box {
        width: 50%;
        height: 100%;
        padding: 20px 20px 0px 20px;
    }

    .intro-landing .intro-box-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .intro-landing .intro-box-one h1 {
        font-size: 35px;
        width: 100%;
        text-align: center;
    }

    .intro-landing .intro-box-one p {
        font-size: 15px;
        text-align: start;
    }

    .intro-landing .intro-box-one .intro-decision {
        display: flex;
        gap: 30px;
    }

    .intro-landing .intro-box-one .intro-decision button {
        display: flex;
        height: 60px;
        width: 170px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 30px;
        border-radius: 10px;
        border: none;
        transition: .3s ease;
        cursor: pointer;
        border: 2px solid var(--base-accent);
        /* border: 2px solid light-dark(#7e1036, white); */
        box-shadow: 0 0 2px grey;
    }

    .intro-landing .intro-box-one .intro-decision .button-one {
        background: var(--base-accent);
        /* background: light-dark(#7e1036, white); */
        color: white;
        /* color: light-dark(white, #7e1036); */
    }

    .intro-landing .intro-box-one .intro-decision .button-two {
        background: transparent;
        color: var(--base-accent);
        /* color: light-dark(#7e1036, white); */
    }

    .intro-landing .intro-box-one .intro-decision button:active {
        scale: 0.90;
    }

    .intro-landing .intro-decision button:active {
        scale: 0.90;
    }

    .intro-landing .intro-box-two {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .intro-landing .intro-box-two .design-circle {
        position: absolute;
        width: 90%;
        height: 500px;
        width: 500px;
        border-radius: 100%;
        box-shadow: 0 0 2px grey;
        background: linear-gradient(to bottom, #7e1036, #c14e76);
        -webkit-background-composite: linear-gradient(to bottom, #7e1036, #c14e76);
    }

    .intro-landing .intro-box-two img {
        height: 550px;
        width: 350px;
        z-index: 20;
    }
    
    .intro-landing .intro-box-two .design-writeup div p:hover {
        transform: translateY(-10px);
    } 

    .intro-landing .intro-box-two .design-writeup .off {
        justify-content: end;
    } 

    
    .intro-landing .intro-box-two .design-writeup {
        position: absolute;
        z-index: 30;
        width: 60%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    
    .intro-landing .intro-box-two .design-writeup div {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .intro-landing .intro-box-two .design-writeup div p {
        width: 80px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.596);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(10px);
        font-weight: 600;
        color: #7e1036;
        transition: .3s ease-in-out;
    }

    .intro-landing .intro-box-two .design-writeup .off {
        justify-content: end;    
    }

    .intro-landing .intro-box-two .design-writeup div p:hover {
        transform: translateY(-10px);
    }

    .features-landing {
        padding: 10px;
        justify-content: space-around;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .features-landing h2 {
        font-size: 25px;
    }

    .features-landing .landing-search {
        border: 2px solid var(--base-accent);
        padding: 10px;
        width: 60%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-around;
        background: var(--navbg-color);
        color: var(--base-accent);
    }

    .features-landing .landing-search input {
        width: 90%;
        height: 100%;
        background: transparent;
        border: none;
    }

    .features-landing .landing-search input:focus {
        outline: none;
    }
    .features-landing .landing-search .bi-search-heart {
        font-size: 20px;
    }

    .features-landing .features-cont {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 600px;
        align-items: center;
    }

    .features-landing .features-cont .features-div {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .features-landing .features-cont .features-div-one {   
        justify-content: center;
        align-items: start;
        display: flex;
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid {
        height: 80%;
        width: 90%;
        border-radius: 10px;
        display: grid;
        position: relative;
        align-items: center;
        grid-template-columns: 50% 50%;
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid span {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid img{
        height: 240px;
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(1) {
        border-radius: 50px 0 0 0;
        background: #8B43FF;
        transition: .3s ease-in-out;
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(2) {
        border-radius: 0 10px 0 0;
        background: #FFD500;
        transition: .3s ease-in-out;
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(3) {
        border-radius: 0 0 0 10px;
        background: #477023;
        transition: .3s ease-in-out;
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(4) {
        border-radius: 0 0 50px 0;
        background: #E91E63;
        transition: .3s ease-in-out;
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(1):hover {
        filter: grayscale(1);
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(2):hover {
        filter: grayscale(1);
    }   
    
    .features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(3):hover { 
        filter: grayscale(1);
    }

    .features-landing .features-cont .features-div-one .aesthetics-grid span:nth-child(4):hover {
        filter: grayscale(1);
    }

    .features-landing .features-cont .features-div-two {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }

    .features-landing .features-cont .features-div-two h3 {
        text-align: center;
        font-size: 25px;
    }

    .features-landing .features-cont .features-div-two .features {
        display: flex;
        flex-direction: column;
        gap: 35px;
        height: 80%;
    }

    .features-landing .features-cont .features-div-two .features .feature-dets {
        display: flex;
        gap: 10px;
        border: 2px solid var(--base-accent);
        border-radius: 10px;
        height: 15%;
        font-size: 14px;
        padding: 5px;
        align-items: center;
    }

    .features-landing .features-cont .features-div-two .features .feature-dets .label-bi {
        font-size: 20px;
    }

    .features-landing .features-cont .features-div-two .features .feature-dets .feature-words .feature-title {
        font-weight: 600;
        color: var(--base-accent);
    }


    .userexp-landing {
        padding: 10px;
        justify-content: space-around;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userexp-landing h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .userexp-landing .buysell-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .userexp-landing .buysell-cont .buyer-seller {
        width: 30%;
        border-radius: 10px;
        height: 550px;
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .userexp-landing .buysell-cont .buy {
        background:  linear-gradient(to top, #F48FB1, #E91E63);
    }

    .userexp-landing .buysell-cont .sell {
        background:  linear-gradient(to top, #9560D2, #7528CC);
    }

    .userexp-landing .buysell-cont .buyer-seller img {
        height: 400px;
    }

    .userexp-landing .buysell-cont .buyer-seller .entails {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        color: white;
        gap: 10px;
    }

    .userexp-landing .buysell-cont .buyer-seller .entails .entails-words {
        width: 90%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
    }

    .userexp-landing .buysell-cont .buyer-seller .entails .entails-words div {
        width: 150px;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.596);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(10px);
        font-weight: 600;
        color: #7e1036;
        transition: .3s ease-in-out;
    }
        

    .userexp-landing .buysell-cont .buyer-seller .entails .entails-words div:hover {
        transform: translateY(-10px);
    }  


    .userexp-landing .buysell-cont .buyer-seller .entails .entails-words .end {
        align-self: flex-end;
    }


}