@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */


* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    font-family: "Lexend Deca", sans-serif;
}

.form {
    width: 50%;
    background: #c14e76e0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.welcome {
    width: 50%;
    background-image: url(../images/medium-shot-woman-wearing-hat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    height: 85%;
    width: 85%;
    padding: 30px;
    margin: 30px auto auto auto;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

form h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    color: #c14e76e0;
}

form .text {
    margin-top: 20px;
    padding: 20px;
    border: none;
    box-shadow: 1px 1px 4px #696969;
    border-radius: 5px;
    outline: none;
    border: none;
}

form .checknews {
    border: 1px solid black;
    margin-top: 30px;
    height: 10px;
    width: 10px;
    margin-left: 2px;
    accent-color: #c14e76e0;
    cursor: pointer;
}

.submit {
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #c14e76e0;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.submit:active {
    transform: scale(0.95);
}

.somewhere {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.somewhere .button {
    background: #7e1036;
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 13.5px;
    width: 150px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.somewhere .button:active {
    transform: scale(0.95);
}

.contact {
    display: flex;
    margin-top: 50px;
    gap: 15px;
    justify-content: center;
}

.contact .bi {
    cursor: pointer;
    color: #c14e76e0;
}

a {
    text-decoration: none;
    color: white;
}