@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */

* {
    margin: 0;
}

body {
    height: 100%;
    font-family: "Lexend Deca", sans-serif;
    background: #F2F3F4;
    font-family: "Lexend Deca", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    top: 0;
    position: sticky;
    z-index: 9999;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav select {
    background: #7e1036ee;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

nav img {
    height: 70px;
    width: 150px;
}

.search-bar {
    display: flex;
    background: #7e1036ee;
    color: white;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.search-bar input {
    width: 90%;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
}

.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.808);
}

.search-bar p {
    cursor: pointer;
}

.search-bar p:active {
    transform: scale(0.85);
}

.move {
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.move .bi {
    cursor: pointer;
    font-size: 22px;
    color: #7e1036ee;
    padding: 5px;
    width: 50px;
    border: none;
    background: transparent;
    text-align: center;
    border-radius: 5px;
}


.cart-count p {
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 30px;
    font-size: 12.5px;
    left: 1390.5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.move .bi-filled {
    background: #7e1036ee;
    color: white;
}

.cart-info {
    margin: 70px 50px 0px 50px;
    display: flex;
    gap: 20px;
}

.the-cart {
    width: 60%;
}

.the-cart-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.the-cart-text span {
    font-weight: 600;
}

.the-cart-items {
    margin-top: 30px;
    width: 100%;
    position: relative;
}

.header {
    background: white;
    padding: 20px;
    display: flex;
    gap: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    font-weight: 600;
    color: #7e1036ee;
}

.header p {
    width: 50%;
}

.cart-item {
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px #696969;
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.cart-item .product {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-item .bi-x-lg {
    position: absolute;
    right: 0;
    font-size: 20px;
    margin-right: 10px;
    color: #7e1036ee;
    cursor: pointer;
}

.cart-item .bi-x-lg:active {
    transform: scale(0.85);
}

.product-info p {
    font-size: 13px;
    color: #696969;
    margin-bottom: 2px;
}

.product-info h3 {
    margin-bottom: 20px;
    overflow: hidden;
}

.others {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item .product img {
    height: 170px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.others p {
    width: 20%;
    text-align: center;
    font-weight: 600;
}






.the-receipt {
    width: 40%;
    height: 50%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.user-location {
    margin-top: 20px;
}

.the-location {
    padding: 10px;
}

.the-location select {
    height: 40px;
    width: 100%;
    padding: 10px;
    background: #69696949;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.the-location input {
    height: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-bottom: 20px
}

.the-location button {
    background: #000000;
    color: white;
    border-radius: 10px;
    align-self: center;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.the-location button:active {
    transform: scale(0.95);
}

.demarcation {
    border: 1px solid rgba(0, 0, 0, 0.503);
    margin-top: 30px;
}

.the-total {
    margin-top: 20px;
    padding: 10px;
    background: #c14e7683;
    border-radius: 10px;
}

.the-total .total-price {
    font-weight: 600;
}

.checkout-product {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.checkout-btn {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #7e1036ee;
    color: white;
    cursor: pointer;
}

.checkout-btn:active {
    transform: scale(0.95);
}