@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */

* {
    margin: 0;
}

body {
    height: 100%;
    font-family: "Lexend Deca", sans-serif;
    background: #FAF9F6;
    cursor: default;
}


/*NAVIGATION CODE BELOW*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    position: sticky;
    height: 10vh;
    top: 0;    
    background: white;
    z-index: 50;
}

nav .navigations-link {
    border: 5px solid transparent;
    text-decoration: none;
    transition: .3s ease;
    color: #c14e76;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navigations-link:hover {
    color: #7e1036;
}

nav img {
    height: 70px;
    width: 150px;
}

nav .navigations {
    display: flex;
    gap: 70px;
    color: #7e1036;
}

nav .user-decision {
    display: flex;
    gap: 20px;
}

nav .user-decision button {
    display: flex;
    height: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    transition: .3s ease;
    cursor: pointer;
    border: 2px solid #7e1036;
}

nav .user-decision .button-one {
    background: #7e1036;
    color: white;
}

nav .user-decision .button-two {
    color: #7e1036;
}

nav .user-decision button:active {
    scale: 0.90;
}





/*SECTION 1 CODE BELOW*/

.intro-landing {
    height: 90vh;
    padding: 20px 20px 20px 20px;
    display: flex;
}

.intro-landing .intro-box {
    width: 50%;
    padding: 20px 20px 0px 20px;
}

.intro-landing .intro-box-one {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 25px;
}

.intro-landing .intro-box-one h1 {
    font-size: 40px;
    width: 500px;
}

.intro-landing .intro-box-one p {
    font-size: 15px;
}

.intro-landing .intro-decision {
    display: flex;
    gap: 30px;
}

.intro-landing .intro-decision button {
    display: flex;
    height: 70px;
    width: 200px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    transition: .3s ease;
    cursor: pointer;
    border: 2px solid #7e1036;
    box-shadow: 0 0 2px grey;
}

.intro-landing .intro-decision .button-one {
    background: #7e1036;
    color: white;
}

.intro-landing .intro-decision .button-two {
    color: #7e1036;
}

.intro-landing .intro-decision button:active {
    scale: 0.90;
}

.intro-landing .intro-box-two {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.intro-landing .intro-box-two .design-circle {
    position: absolute;
    width: 80%;
    height: 600px;
    border-radius: 100%;
    box-shadow: 0 0 2px grey;
    background: linear-gradient(to bottom, #7e1036, #c14e76);
    -webkit-background-composite: linear-gradient(to bottom, #7e1036, #c14e76);
}

.intro-landing .intro-box-two img {
    height: 600px;
    z-index: 20;
}

.intro-landing .intro-box-two .design-writeup {
    position: absolute;
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    z-index: 30;
}

.intro-landing .intro-box-two .design-writeup div {
    height: 10%;
    display: flex;
    align-items: center;
    margin: 25px 70px 0px 70px;
}

.intro-landing .intro-box-two .design-writeup div:nth-child(1) {
    margin-top: 70px;
}

.intro-landing .intro-box-two .design-writeup .off {
    justify-content: end;    
}

.intro-landing .intro-box-two .design-writeup div p {
    box-shadow: 0 8px 32px 0 #c14e76;
    padding: 10px;
    width: 80px;
    font-size: 18px;
    font-weight: 600;
    color: #7e1036;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    margin-left: 30px;
    transition: .3s ease;
}

.intro-landing .intro-box-two .design-writeup div p:hover {
    transform: translateY(-10px);
}




/*SECTION TWO*/
.features-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding: 0 20px 0 20px;
}

.features-landing h2 {
    padding-top: 20px;
}

.features-landing .landing-search {
    border: 2px solid #7e1036;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    margin-top: 20px;
}

.features-landing .landing-search input {
    width: 90%;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    padding: 2px;
}

.features-landing .landing-search input:focus {
    outline: none;
}

.features-landing .landing-search .bi {
    color: #7e1036;
    margin-right: 5px;
    cursor: pointer;
    font-size: 20px;
}

.features-landing .landing-search .bi:hover {
    color: #c14e76;
}

.features-landing .landing-search .bi:active {
    scale: 0.90;
}

.features-landing .features-cont {
    width: 100%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.features-landing .features-cont div {
    width: 50%;
}







.features-landing .features-cont .aesthetics-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-landing .features-cont .aesthetics-cont .aesthetics-grid {
    position: relative;
    height: 95%;
    width: 90%;
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.features-landing .features-cont .aesthetics-cont .aesthetics-grid:hover .star {
    transform: rotate(360deg);
}

.features-landing .features-cont .aesthetics-cont .aesthetics-grid:hover span {
    filter: grayscale(1);
}

.features-landing .features-cont .aesthetics-cont span {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: .3s ease;
}

.features-landing .features-cont .aesthetics-cont span img {
    height: 250px;
}

.features-landing .features-cont .aesthetics-cont span:nth-child(1) {
    border-radius: 10px 0 0 0;
    background: #8B43FF;
}

.features-landing .features-cont .aesthetics-cont span:nth-child(1):hover {
    filter: grayscale(0);
}

.features-landing .features-cont .aesthetics-cont span:nth-child(2) {
    border-radius: 0 10px 0 0;
    background: #FFD500;
}

.features-landing .features-cont .aesthetics-cont span:nth-child(2):hover {
    filter: grayscale(0);
}

.features-landing .features-cont .aesthetics-cont span:nth-child(3) {
    border-radius: 0 0 0 10px;
    background: #477023;
}

.features-landing .features-cont .aesthetics-cont span:nth-child(3):hover {
    filter: grayscale(0);
}

.features-landing .features-cont .aesthetics-cont span:nth-child(4) {
    border-radius: 0 0 10px 0;
    background: #E91E63;
}

.features-landing .features-cont .aesthetics-cont span:nth-child(4):hover {
    filter: grayscale(0);
}

.features-landing .features-cont .aesthetics-cont span:nth-child(5) {
    background: none;
    position: absolute;
    display: flex;
    align-items: center;
    height: 15%;
}

.features-landing .features-cont .aesthetics-cont span:nth-child(5) .star {
    font-size: 120px;
    color: white;
    transition: 2s ease-in-out;
}




.features-landing .features-cont .features-box {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.features-landing .features-cont .features-box h3 {
    font-size: 20px;
}

.features-landing .features-cont .features-box h3 span {
    color: #7e1036;
}

.features-landing .features-cont .features-box .features {
   height: 90%;
   width: 95%;
}

.features-landing .features-cont .features-box .features .feature-dets {
    border: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}




/* .features-landing .testimonial-sect {
    height: 20%;
    overflow-x: auto;
    background: #7e1036;
    padding: 20px;
    display: flex;
    align-items: center;
}

.features-landing .testimonial-sect::-webkit-scrollbar {
    display: none;
}

.features-landing .testimonial-sect .testimonial-cont {
    display: flex;
    gap: 22px;
    animation: spin 20s infinite linear;
    padding-right: 18px;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.features-landing .testimonial-sect:hover .testimonial-cont {
    animation-play-state: paused!important;
}

.features-landing .testimonial-sect .testimonial-cont .testimonial-block {
    height: 100px;
    width: 440px;
    flex-shrink: 0;
    background: white;
    color: #7e1036;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
} */



















































/* 

.cart-count {
    position: relative;
}

.cart-count p {
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 10px;
    left: 0.20px;
    font-size: 12.5px;
    color: #7e1036;
    font-weight: 600;
    cursor: pointer;
}

.signing .bi {
    font-size: 25px;
    color: #c14e76;
}

.signing button {
    padding: 10px;
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}

.signing button:active {
    transform: scale(0.85);
} */













/* 
.sign-up {
    background: #c14e76;
    font-weight: 600;
    color: white;
}

.sign-in {
    background: #7e1036;
    font-weight: 600;
    color: white;
} */

/*SECTION 1 CODE*/
/* 
.intro {
    height: 400px;
    background-image: url(../images/medium-shot-friends-having-fun-party.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;   
}

.intro-bar {
    background: rgba(255, 255, 255, 0.608);
    backdrop-filter: blur(5px);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.intro-bar h1 {
    margin-bottom: 10px;
    color: #7e1036;
}

.intro-bar p {
    margin-bottom: 30px;
    color: #7e1036;
}

.intro-bar .search {
    background: #c14e76e0;
    width: 80%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    color: white;
}

.intro-bar .search input{
    width: 80%;    
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

.intro-bar .search input::placeholder {
    color: rgba(255, 255, 255, 0.881);
}

.intro-bar .search .bi-arrow-right:hover {
    color: #7e1036;
}

.intro-bar .search .bi-arrow-right:active {
    transform: scale(0.85);
} */

/*SECTION 2 CODE*/

/* .featured {
    margin: 20px 20px 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    position: relative;
}

.featured h3 {
    color: #7e1036;
}

.featured-products {
    height: 200px;
    width: calc(300 * 5);
    display: flex;
    gap: 20px;
}

@keyframes slideLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.f-product {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.f-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.description {
    position: absolute;
    width: 275px;
    height: 55px;
    margin-top: 145px;
    background: white;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
}

.description .bi-cart2 {
    padding: 16px;
    font-size: 20px;
    background: #7e1036;
    color: white;
    font-weight: 600;
    border-radius: 0px 0px 10px 0px;
    border: none;
    cursor: pointer;
}

.description .bi-cart-check {
    padding: 16px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
    color: #7e1036;
    background: #FFFFFF;
    font-weight: 600;
    border-radius: 0px 0px 10px 0px;
    cursor: pointer;
    border: none;
}

.description h4 {
    padding: 5px 0px 5px 10px;
}

.description p {
    padding: 0px 0px 0px 10px;
    color: #7e1036;
}
 */


/*SECTION 3 CODE*/

/* .testimonials {
    margin-top: 30px;
    background: #E7E7E7;
    padding: 20px;
}

.testimonials h3 {
    margin: 0px 0px 10px 10px;
    color: #7e1036;
}

.block-holder {
    margin-left: 10px;
    display: flex;
    gap: 20px;
}

.testimonial-block {
    height: 150px;
    width: 600px;
    background: white;
    color: #7e1036;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
} */

/*FOOTER CODE BELOW*/
/* 
footer {
    background: #7e1036;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    bottom: 0;    
}

.contact {
    display: flex;
    gap: 15px;
}

.contact .bi {
    cursor: pointer;
} */